snippet textit "Italicise text" b
\textit{${1:${VISUAL}}}$0
endsnippet

snippet textbf "Bold text" b
\textbf{${1:${VISUAL}}}$0
endsnippet

snippet texttt "Typewriter text" b
\texttt{${1:${VISUAL}}}$0
endsnippet

snippet verb "Typewriter text" b
\verb_${1:${VISUAL}}_$0
endsnippet

snippet it "\item" b
\item $0
endsnippet
